:root {
  --main-title-color: #ffffff;
  --first-button-color: #ffffff;
  --third-logo-color: hsl(0, 0%, 100%);
  --third-text-color: #ffffff;

  --second-title-color: #212121;
  --fourth-text-color: #212121;
  --first-header-text-color: #212121;
  --second-button-color: #212121;

  --first-text-color: rgba(255, 255, 255, 0.6);

  --second-text-color: #757575;
  --second-header-text-color: #757575;

  --third-button-color: 0px 4px 4px rgba(0, 0, 0, 0.15);

  --first-logo-color: #2196f3;
  --accent-text-color: #2196f3;
  --third-background-color: #2196f3;

  --second-logo-color: #000000;

  --first-background-color: #2f303a;

  --second-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--third-logo-color);
  color: var(--second-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*-----1 блок - логотип, посилання------*/
.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo {
  color: var(--second-logo-color);
}
.footer-logo {
  color: var(--third-logo-color);
}
.colortext-web {
  color: var(--first-logo-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-header-text-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-text-color);
}

/*----------Oсновний блок------------*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-button-color);
  background: var(--third-background-color);
  box-shadow: var(--third-button-color);
}

.hero-btn,
.mainhero-btn {
  cursor: pointer;
}

.hero {
  background-color: var(--first-background-color);
}

/*-------опис якостей------*/

/*.feature-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}*/
.feature-third-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--fourth-text-color);
}
.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}

/*------ABOUT----*/
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-title-color);
}

/*---TEAM----*/
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--fourth-text-color);
}
.team-third-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--fourth-text-color);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color);
}
.team {
  background-color: var(--second-background-color);
}
.team-item {
  width: 270px;
  height: 368px;
  top: 1635px;
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/*----------FOOTER-------*/

.footer-map {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
}
.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--first-text-color);
}
.footer {
  background-color: var(--first-background-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text-color);
}

/*---------ПОРТФОЛИО-MAIN--------------*/

/*-------BUTTON--------*/
.color-button,
.mainhero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-button-color);
  background-color: var(--second-background-color);
}

.color-button:hover,
.color-button:focus,
.mainhero-btn:hover,
.mainhero-btn:focus {
  color: var(--first-button-color);
  background-color: var(--third-background-color);
}
.color-button:active {
  color: var(--first-button-color);
  background-color: var(--third-background-color);
}

/*----PICTURES----*/
.mainhero-pictures {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.mainhero-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-header-text-color);
}
.mainhero-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-header-text-color);
}
